<section>
    <div class="login__container">
        
        <h1 class="title">misFinanzas</h1>

        <form class="form__container">

            <div class="input__container">
                <input type="email" placeholder="Ingrese su email">
                <input type="password" placeholder="Ingrese su contraseña">
            </div>

            <div class="button__container">
                <button routerLink="/misfinanzas/admission" class="active">LOGIN</button>
                <button routerLink="/auth/register">CREAR CUENTA</button>
            </div>

        </form>

    </div>
</section>