<section>
    <div class="admission__container">
        
        <h1 class="title">misFinanzas</h1>

        <p>¡Hola! te damos la bienvenida,
            para poder ayudarte con la 
            administración y gestión de 
            tus ingresos y gastos primero 
            vamos a configurar tu cuenta.</p>

        <p>A continuación ingresa el 
            dinero con el que cuentas hoy</p>

        <form class="form__container">
            <div class="input__container">
                <input type="number" placeholder="Ingrese un monto">
            </div>

            <div class="button__container">
                <button routerLink="/auth/register">CONTINUAR</button>
            </div>
        </form>

    </div>
</section>