<section>
  <div class="first-admission__container">

      <h1 class="title">misFinanzas</h1>

      <p>
        ¡Hola! te damos la bienvenida,
        para poder ayudarte con la
        administración y gestión de
        tus ingresos y gastos primero
        vamos a configurar tu cuenta
      </p>

      <p>
        A continuación ingresa el
        dinero con el que cuentas hoy
      </p>

      <form class="form__container">
          <input type="numer" placeholder="Ingrese un monto" autocomplete="none">

          <div class="buttons__container">
            <button class="active">CONTINUAR</button>
          </div>
      </form>

  </div>
</section>
