<section>
  <div class="admission__container">

      <h1 class="title">misFinanzas</h1>

      <p>
        ¡Hola! {{ user.name }} te damos la bienvenida,
        para poder ayudarte con la
        administración y gestión de
        tus ingresos y gastos primero
        vamos a configurar tu cuenta.
      </p>

      <p>
        A continuación ingresa el
        dinero con el que cuentas hoy
      </p>

      <form [formGroup]="amountForm" (ngSubmit)="setAmountAccount()" class="form__container">
        <div class="input__container">
          <input formControlName="amount" type="number" placeholder="$ 0" class="input__value">
        </div>

        <div class="buttons__container">
          <button type="submit" class="active">CONTINUAR</button>
        </div>
      </form>

  </div>
</section>
