.table {
  margin: 0 auto 20px;
  width: 83%;
  border-collapse: collapse;

  thead {
    border-bottom: 1px solid var(--light-green);
    height: 2.8rem;
  }

  th {
    color: var(--light-grey);
  }

  td {
    text-align: center;
    height: 2.8rem;
    border-top: 5px var(--medium-blue) solid;
  }

  .in-month {
    color: var(--light-grey);
  }

}

.header__container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;

  p {
    color: var(--light-green);
  }

  button {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--light-grey);
    margin: 0 2rem;
  }
}

.in-prev-month-selected-start,
.in-next-month-selected-start,
.in-month-selected-start {
  background-color: #009e6c;
  color: #fff;
}

.in-prev-month-selected-end,
.in-next-month-selected-end,
.in-month-selected-end {
  background-color: #009e6c;
  color: #fff;
}

.in-month-selected {
  background-color: #009e6c;
  color: #fff;
}

.in-prev-month,
.in-next-month {
  opacity: 0.5;
}

.in-start-day {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  color: #fff;
}

.background__corner {
  background-color: #009e6c;
}

.in-end-day {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #009e6c;
  color: #fff;
}

.today {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #40f4bb;
  color: #000000 !important;
  border-radius: 35px;
  height: 100%;
}

.previous_days {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e6452;
  height: 100%;
}

.position__relative {
  position: relative;
}

.today__background {
  position: absolute;
  opacity: .5;
  background-color: #2e6452;
  height: 100%;
  width: 50%;
}
