.table {
  margin: 0 auto 20px;
  width: 83%;
  border-collapse: collapse;

  thead {
    border-bottom: 1px solid var(--light-green);
    height: 2.8rem;
  }

  th {
    color: var(--light-grey);
  }

  td {
    text-align: center;
    height: 2.3rem;
  }

  .in-month {
    color: var(--light-grey);
  }

}

.header__container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;

  p {
    color: var(--light-green);
  }

  button {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--light-grey);
    margin: 0 2rem;
  }
}

.today {
  background-color: #009e6c;
  color: #fff;
  border-radius: 50%;
}

.in-prev-month,
.in-next-month {
  opacity: 0.5;
}
