<section>

  <div class="header__container">
    <button class="button" (click)="getPrevMonth()"> < </button>

    <p>
      {{ monthNames[selectedDate.getMonth()] }} - {{ selectedDate.getFullYear() }}
    </p>

    <button class="button" (click)="getNextMonth()"> > </button>
  </div>

  <table class="table">

    <thead>
      <tr class="line">
          <th *ngFor="let day of daysShort">{{ day | uppercase }}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let col of calendarRows; let i = index">
        <td
          *ngFor="let col of calendarRows[i]"
          (click)="dateClickHandle(col.date)"
          class="{{ col.classes }} {{ col.date === todayFormatted && 'today' }}" >
          {{ col.value }}
        </td>
      </tr>
    </tbody>

  </table>

</section>
