<section>
  <div class="div__container">

  <div class="header__container">
    <h2>{{ daySelected | myDate }}</h2>

    <div *ngIf="daySelected >= walletSignal().start_selected_day && daySelected <= walletSignal().end_selected_day" class="header__available">
      <p>Disponible</p>
      <h2 >{{ walletSignal().money_per_day | currency | myCurrency }}</h2>
    </div>
  </div>

  <div class="body__container">
    <div *ngFor="let movement of movements" class="money__movement">
      <h3>{{ movement.description }}</h3>
      <div class="flex__container">
        <h3>{{ movement.amount }}</h3>
        <button class="button__delete">
          <app-svg-button-delete class="svg"></app-svg-button-delete>
        </button>
      </div>
    </div>

    <p>Ver más...</p>
  </div>

  <div class="footer__container">
    <div class="total__expense-day">
      <h2>TOTAL</h2>
      <h2>-$1.500</h2>
    </div>

    <button class="button__add">
      <app-svg-button-add (click)="addMove()"></app-svg-button-add>
    </button>
  </div>

  </div>
</section>
