<section @enterState>

  <div class="container">
    <div>
      <h2>AHORROS</h2>
      <h2 class="amount">$88.000</h2>
    </div>

    <div class="btn-close__container">
      <svg (click)="closeModal()" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60" height="60" viewBox="0 0 88.002 88.002">
        <defs>
          <filter id="Trazado_16" x="0" y="0" width="88.002" height="88.002" filterUnits="userSpaceOnUse">
            <feOffset dy="5" input="SourceAlpha"/>
            <feGaussianBlur stdDeviation="6" result="blur"/>
            <feFlood flood-color="#10161e"/>
            <feComposite operator="in" in2="blur"/>
            <feComposite in="SourceGraphic"/>
          </filter>
          <filter id="Trazado_16-2" x="0" y="0" width="88.002" height="88.002" filterUnits="userSpaceOnUse">
            <feOffset dy="7" input="SourceAlpha"/>
            <feGaussianBlur stdDeviation="5.5" result="blur-2"/>
            <feFlood flood-color="#bebfbf" flood-opacity="0.218" result="color"/>
            <feComposite operator="out" in="SourceGraphic" in2="blur-2"/>
            <feComposite operator="in" in="color"/>
            <feComposite operator="in" in2="SourceGraphic"/>
          </filter>
        </defs>
        <g id="Button_Close" data-name="Button Close" transform="translate(18 13)">
          <g data-type="innerShadowGroup">
            <g transform="matrix(1, 0, 0, 1, -18, -13)" filter="url(#Trazado_16)">
              <path id="Trazado_16-3" data-name="Trazado 16" d="M18.386,0A18.386,18.386,0,1,1,0,18.386,18.386,18.386,0,0,1,18.386,0Z" transform="translate(44 13) rotate(45)" fill="rgba(190,191,191,0.41)"/>
            </g>
            <g transform="matrix(1, 0, 0, 1, -18, -13)" filter="url(#Trazado_16-2)">
              <path id="Trazado_16-4" data-name="Trazado 16" d="M18.386,0A18.386,18.386,0,1,1,0,18.386,18.386,18.386,0,0,1,18.386,0Z" transform="translate(44 13) rotate(45)" fill="#fff"/>
            </g>
          </g>
          <line id="Línea_17" data-name="Línea 17" x2="12.956" transform="translate(21.336 21.504) rotate(45)" fill="none" stroke="#191e29" stroke-linecap="square" stroke-width="5"/>
          <line id="Línea_18" data-name="Línea 18" y2="13.066" transform="translate(30.704 21.465) rotate(45)" fill="none" stroke="#191e29" stroke-linecap="square" stroke-width="5"/>
        </g>
      </svg>
    </div>
  </div>

  <section *ngIf="!wasOptionChosen; else selectedOption">
    <div class="option__container">
      <p class="description">
        En tu cuenta hay $ 88.000
        ¿Quieres tomar dinero de
        esta cuenta para ahorrarlo?
      </p>
      <button type="button" (click)="openSelectedModal('a')" class="button__accept">ACEPTAR</button>
    </div>

    <div class="option__container">
      <p class="description">
        ¿Quieres agregar dinero
        que no figura en tu cuenta?
      </p>
      <button type="button" (click)="openSelectedModal('b')" class="button__accept">ACEPTAR</button>
    </div>

    <div class="option__container">
      <p class="description">
        ¿Mover dinero de AHORROS
        a tu cuenta principal?
      </p>
      <button type="button" (click)="openSelectedModal('c')" class="button__accept">ACEPTAR</button>
    </div>
  </section>

  <ng-template #selectedOption>
    <app-modal-saving [savingMode]="selectedOpt"></app-modal-saving>
  </ng-template>

</section>
