<section>

    <div class="header__container">
      <div class="header__available">
        <p>{{ selectedDayTitlte | myMonth }}</p>
        <h2>{{ selectedDayTitlte | myDate }}</h2>
      </div>


      <div *ngIf="!closeDay" class="header__available">
        <p>Disponible</p>
        <h2>{{ wallet().money_per_day | currency | myCurrency }}</h2>
      </div>

      <app-menu class="menu"></app-menu>
    </div>

    <div *ngIf="!closeDay" class="body__container">
      <div *ngFor="let movement of movements" class="money__movement">
        <h3>{{ movement.description }}</h3>
        <div class="flex__container">
          <h3 class="expense" *ngIf="movement.character === 'expense'">$ -{{ movement.amount }}</h3>
          <h3 class="income" *ngIf="movement.character === 'income'">$ +{{ movement.amount }}</h3>
          <button class="button__delete">
            <app-svg-button-delete class="svg"></app-svg-button-delete>
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="!closeDay" class="close__day">
      <div class="total__expense-day">
        <h2>TOTAL</h2>
        <h2>-$1.500</h2>
      </div>
      <button type="button" (click)="openCloseDay(true)" class="button__close-day">CERRAR DIA</button>
    </div>

    <form class="form__container" [formGroup]="movementForm" *ngIf="!closeDay" class="footer__container">

      <div class='container-checkbox' *ngIf="addMovement">
        <label>
          <input type="checkbox" formControlName="character"/>
          <span>
            <p class="label__p-expense">GASTO</p>
            <p class="label__p-income">INGRESO</p>
          </span>
          <i class='indicator-checkbox-uno'></i>
        </label>
      </div>

      <input *ngIf="addMovement" type="text" placeholder="Descripcion" formControlName="description">
      <input *ngIf="addMovement" type="number" placeholder="$ Monto" formControlName="amount">

      <button *ngIf="addMovement" type="button" (click)="saveForm()" class="button__accept">AGREGAR</button>

      <button *ngIf="!addMovement" (click)="openAddMovement(true)" class="button__add">
        <app-svg-button-add></app-svg-button-add>
      </button>
    </form>



<!-- -------------- -->
<!-- CIERRE DEL DIA -->
<!-- -------------- -->

  <div *ngIf="closeDay" class="footer__container">


    <h2 class="label margin-top">DIFERENCIA DEL DIA</h2>
    <h2 class="label text-green">+$1000</h2>

    <h2 class="label margin-top">USARLO EN...</h2>
    <div class="container-checkbox">
      <label>
        <input type="checkbox"/>
        <span>
          <p class="label__p-expense">CUENTA</p>
          <p class="label__p-income">AHORROS</p>
        </span>
        <i class='indicator-checkbox-dos'></i>
      </label>
    </div>
    <h2 class="label text-green">+$88.000</h2>

    <div class="button__container margin-top">
      <button (click)="openCloseDay(false)" class="button__add">
        <app-svg-button-close-red></app-svg-button-close-red>
      </button>
      <button (click)="saveDay()" class="button__add">
        <app-svg-button-ok></app-svg-button-ok>
      </button>
    </div>
  </div>

</section>
