<section @enterState>
  <div class="home__container">

    <app-menu></app-menu>

    <div #asHeader class="acount__container">
        <h2 (click)="removeChange()" class="amount">${{ wallet().money_acount }}</h2>
        <span>Cuenta</span>
    </div>


    <div #asPanel class="option__container">

      <div #asConfigCard class="configcard__container" *ngIf="!configModal">
        <div class="button__container">

          <div class="card__button">
            <app-config-card (showModal)="toggleModal($event, 'PER_DAY')" [title]="amountPerDay" label="Disponible por dia"></app-config-card>
          </div>

          <div class="card__button">
            <app-config-card (showModal)="toggleModal($event, 'SAVING')" [title]="amountSaving" label="Ahorro"></app-config-card>
          </div>

        </div>

      </div>

      <div class="calendar__conatiner" *ngIf="calendarModal">
        <app-calendar
          @enterState
          (dayDetails)="showDayDetails($event)"
        ></app-calendar>
      </div>

      <div #asDaySelected class="background" *ngIf="calendarModal">
        <app-day-details
        [daySelected]="day"
        ></app-day-details>
      </div>

      <app-modal-config-day
        *ngIf="amountPerDayModal"
        (showModal)="toggleModal($event, 'PER_DAY')"
      ></app-modal-config-day>

      <app-modal-config-saving
        *ngIf="savingModal"
        (showModal)="toggleModal($event, 'SAVING')"
      ></app-modal-config-saving>

    </div>

  </div>
</section>
