<section>
    <div class="home__container">

        <app-menu></app-menu>

        <div class="acount__container">
            <h2 class="amount">$88.000</h2>
            <span>Cuenta</span>
        </div>

        <div class="option__container">
            <div class="button__container">
                <div class="card__button">
                  <app-config-card label="Libre por dia"></app-config-card>
                </div>
                <div class="card__button">
                  <app-config-card label="Ahorro"></app-config-card>
                </div>
            </div>

            <div class="calendar__conatiner">
              <app-calendar></app-calendar>
            </div>
        </div>

    </div>
</section>
