<section>
  <div class="register__container">

      <h1 class="title">misFinanzas</h1>

      <form class="form__container">
          <input type="email" placeholder="Ingrese su email">
          <input type="text" placeholder="Ingrese su nombre">
          <input type="password" placeholder="Ingrese su contraseña">
          <input type="password" placeholder="Repita la contraseña">

          <div class="buttons__container">
            <button class="active">CREAR CUENTA</button>
            <button class="button__link" routerLink="/auth/login">Ya tengo cuenta</button>
          </div>
      </form>

  </div>
</section>
