<section @enterState>

  <h2>CONFIGURAR</h2>
  <p>{{ label }}</p>

  <p class="description">
    Cuentas con $ {{  wallet().money_acount }}
    elige los días en los que
    te manejaras con ese dinero
  </p>


  <form [formGroup]="form">

    <div class="input__container">

      <label for="">Desde</label>
      <input type="date" formControlName="start_day">

      <label for="">Hasta</label>
      <input type="date" formControlName="end_day">
    </div>

    <div class="button__container">
      <button type="button" (click)="closeModal()" class="button__cancel">CANCELAR</button>
      <button type="button" (click)="acceptDayConfig()" class="button__accept">ACEPTAR</button>
    </div>

  </form>

</section>
