.menu__container--nav {
  background: var(--medium-blue);
  position: absolute;
  width: 80vw;
  height: 100vh;
  z-index: 100;
  top: 0;
  right: -100vw;
  border: none;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}


.menu-icon__container {
  position: absolute;
  right: 0;
  margin: 1.4rem;
  cursor: pointer;
}

.show-menu {
  right: 0;
  box-shadow: -30px 0 185px black;
}

.menu__btn-open {
  position: absolute;
  right: 1rem;
  border: none;
  background: none;
  padding: 10px;
}

.menu__btn-close {
  border: none;
  background: none;
  width: 18px;
  margin-top: 16px;
  margin-right: 20px;
  align-self: flex-end;
  cursor: pointer;
}

.img__container {
  margin: 1rem;

  img {
    border-radius: 50%;
    border: 2px solid #000;
    width: 100px;
    height: 100px;
    overflow: hidden;
  }
}

.title-name {
    color: var(--light-green);
    font-size: 1.5rem;
    font-weight: 400;
}

.title {
    color: var(--light-grey);
    font-size: 1.8rem;
    font-weight: 400;
    text-align: end;
    margin-top: 1rem;
    margin-right: 1.8rem;
}

.title-end {
  color: var(--light-green);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 2.8rem;
  text-align: center;
}

.line {
    margin: .5rem auto 2rem;
    width: 80%;
    background-color: var(--dark-grey);
}

.links__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .6rem;
  margin-left: 2.4rem;

  .link__container {
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
  }
}

a {
  font-family: 'Commissioner', sans-serif;
  font-size: 1.2rem;
  align-self: center;
  text-decoration: none;
  color: var(--light-grey);
  padding: 15px 0;
}
